/** dokieli
 *
 * Sarven Capadisli <info@csarven.ca> http://csarven.ca/#i
 * http://www.apache.org/licenses/LICENSE-2.0.html Apache License, Version 2.0
 * https://github.com/linkeddata/dokieli
 */

@media print {
.do {
display:none !important;
}
span.do.ref {
display:inline !important;
}
span.do.ref sup {
display:none;
}

.tabs .selected {
border:0 !important;
padding:0 !important;
}

.tabs > div,
.tabs > figure {
display:block !important;
margin-top:0 !important;
}
}

@media screen and (min-width: 75em){
aside.note article {
position: absolute !important;
left: auto;
right: -27%;
z-index: 1;
width: 25%;
}
}

@media screen {
body { visibility:visible !important; }
/*body.on-document-menu > *:not([class~="on"]) {
opacity:0.5;
transition:opacity 1s ease-in-out;
-moz-transition:opacity 1s ease-in-out;
-webkit-transition:opacity 1s ease-in-out;
}*/
}

[contenteditable=true]:focus {
outline:none;
}

@keyframes target {
  50% { background-color:#efe; box-shadow:inset 0px 0px 0px 3px #ccc;}
}

*:target {
  animation:target 2s linear;
}


/*Animated adapted from https://github.com/daneden/animate.css using MIT license*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)*/
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

svg.fa-fw {
text-align: center;
width: 1.25em;
}

.fas, .far, .fab {
font-size:1em;
width:1em;
height:1em;
display:inline-block;
}
button:disabled .fas,
button:disabled .far,
button:disabled .fab {
fill:#aaa;
}
.fa-2x {
width:2em;
height:2em;
font-size:1em !important;
}
.fa-3x {
width:3em;
height:3em;
font-size:1em !important;
}
#document-editor .medium-editor-toolbar {
z-index:2147483647;
}
#document-editor svg.fas,
#document-editor svg.far {
fill:#fff;
vertical-align: bottom;
}
#document-editor .medium-editor-toolbar-form svg.fas,
#document-editor .medium-editor-toolbar-form svg.far,
dl svg.fas,
dl svg.far,
.progress svg.fas,
.progress svg.far,
.progress svg.fab {
vertical-align: middle;
}
dl svg.fas.fa-2x,
dl svg.fas-fa-2x {
vertical-align: bottom;
}

i.fas, i.far, i.fab {
background-repeat:no-repeat;
background-position:50% 50%;
display:inline-block;
font-size:1em;
vertical-align: middle;
}


#dokieli-features ul li a i {
/*font-size:2em;*/
}

i.fa-bars { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='currentColor' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'%3e%3c/path%3e%3c/svg%3e") }
i.fa-close { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3e%3cpath fill='currentColor' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3e%3c/path%3e%3c/svg%3e") }
i.fa-life-ring { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='currentColor' d='M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.506 68.128 13.522 99.974 0l53.411 53.411c-63.217 38.319-143.579 38.319-206.796 0zM336 256c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zm91.28 103.398l-53.411-53.411c13.505-31.806 13.522-68.128 0-99.974l53.411-53.411c38.319 63.217 38.319 143.579 0 206.796zM359.397 84.72l-53.411 53.411c-31.806-13.505-68.128-13.522-99.973 0L152.602 84.72c63.217-38.319 143.579-38.319 206.795 0zM84.72 152.602l53.411 53.411c-13.506 31.806-13.522 68.128 0 99.974L84.72 359.398c-38.319-63.217-38.319-143.579 0-206.796z'%3e%3c/path%3e%3c/svg%3e") }
i.fa-i-cursor { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3e%3cpath d='M256 52.048V12.065C256 5.496 250.726.148 244.158.066 211.621-.344 166.469.011 128 37.959 90.266.736 46.979-.114 11.913.114 5.318.157 0 5.519 0 12.114v39.645c0 6.687 5.458 12.078 12.145 11.998C38.111 63.447 96 67.243 96 112.182V224H60c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h36v112c0 44.932-56.075 48.031-83.95 47.959C5.404 447.942 0 453.306 0 459.952v39.983c0 6.569 5.274 11.917 11.842 11.999 32.537.409 77.689.054 116.158-37.894 37.734 37.223 81.021 38.073 116.087 37.845 6.595-.043 11.913-5.405 11.913-12V460.24c0-6.687-5.458-12.078-12.145-11.998C217.889 448.553 160 444.939 160 400V288h36c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-36V112.182c0-44.932 56.075-48.213 83.95-48.142 6.646.018 12.05-5.346 12.05-11.992z'/%3e%3c/svg%3e") }
i.fa-comments { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath d='M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92-13.4 30.2-35.5 54.2-35.8 54.5-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25 32.2 15.7 70.3 25 111.3 25 114.9 0 208-71.6 208-160zm122 220c23.9-26 38-57.7 38-92 0-66.9-53.5-124.2-129.3-148.1.9 6.6 1.3 13.3 1.3 20.1 0 105.9-107.7 192-240 192-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25 21.8 12.7 52.1 25 88.7 25 3.2 0 6.1-1.9 7.3-4.8 1.3-2.9.7-6.3-1.5-8.7-.3-.3-22.4-24.2-35.8-54.5z'/%3e%3c/svg%3e") }
i.fa-asterisk { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M478.21 334.093L336 256l142.21-78.093c11.795-6.477 15.961-21.384 9.232-33.037l-19.48-33.741c-6.728-11.653-21.72-15.499-33.227-8.523L296 186.718l3.475-162.204C299.763 11.061 288.937 0 275.48 0h-38.96c-13.456 0-24.283 11.061-23.994 24.514L216 186.718 77.265 102.607c-11.506-6.976-26.499-3.13-33.227 8.523l-19.48 33.741c-6.728 11.653-2.562 26.56 9.233 33.037L176 256 33.79 334.093c-11.795 6.477-15.961 21.384-9.232 33.037l19.48 33.741c6.728 11.653 21.721 15.499 33.227 8.523L216 325.282l-3.475 162.204C212.237 500.939 223.064 512 236.52 512h38.961c13.456 0 24.283-11.061 23.995-24.514L296 325.282l138.735 84.111c11.506 6.976 26.499 3.13 33.227-8.523l19.48-33.741c6.728-11.653 2.563-26.559-9.232-33.036z'/%3e%3c/svg%3e") }
i.fa-bell { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath d='M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z'/%3e%3c/svg%3e") }
i.fa-table { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z'/%3e%3c/svg%3e") }
i.fa-link { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z'/%3e%3c/svg%3e") }
i.fa-paper-plane { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z'/%3e%3c/svg%3e") }
i.fa-magic { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M224 96l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zM80 160l26.66-53.33L160 80l-53.34-26.67L80 0 53.34 53.33 0 80l53.34 26.67L80 160zm352 128l-26.66 53.33L352 368l53.34 26.67L432 448l26.66-53.33L512 368l-53.34-26.67L432 288zm70.62-193.77L417.77 9.38C411.53 3.12 403.34 0 395.15 0c-8.19 0-16.38 3.12-22.63 9.38L9.38 372.52c-12.5 12.5-12.5 32.76 0 45.25l84.85 84.85c6.25 6.25 14.44 9.37 22.62 9.37 8.19 0 16.38-3.12 22.63-9.37l363.14-363.15c12.5-12.48 12.5-32.75 0-45.24zM359.45 203.46l-50.91-50.91 86.6-86.6 50.91 50.91-86.6 86.6z'/%3e%3c/svg%3e") }
i.fa-flask { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath d='M437.2 403.5L320 215V64h8c13.3 0 24-10.7 24-24V24c0-13.3-10.7-24-24-24H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h8v151L10.8 403.5C-18.5 450.6 15.3 512 70.9 512h306.2c55.7 0 89.4-61.5 60.1-108.5zM137.9 320l48.2-77.6c3.7-5.2 5.8-11.6 5.8-18.4V64h64v160c0 6.9 2.2 13.2 5.8 18.4l48.2 77.6h-172z'/%3e%3c/svg%3e") }
i.fa-creative-commons { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'%3e%3cpath d='M245.83 214.87l-33.22 17.28c-9.43-19.58-25.24-19.93-27.46-19.93-22.13 0-33.22 14.61-33.22 43.84 0 23.57 9.21 43.84 33.22 43.84 14.47 0 24.65-7.09 30.57-21.26l30.55 15.5c-6.17 11.51-25.69 38.98-65.1 38.98-22.6 0-73.96-10.32-73.96-77.05 0-58.69 43-77.06 72.63-77.06 30.72-.01 52.7 11.95 65.99 35.86zm143.05 0l-32.78 17.28c-9.5-19.77-25.72-19.93-27.9-19.93-22.14 0-33.22 14.61-33.22 43.84 0 23.55 9.23 43.84 33.22 43.84 14.45 0 24.65-7.09 30.54-21.26l31 15.5c-2.1 3.75-21.39 38.98-65.09 38.98-22.69 0-73.96-9.87-73.96-77.05 0-58.67 42.97-77.06 72.63-77.06 30.71-.01 52.58 11.95 65.56 35.86zM247.56 8.05C104.74 8.05 0 123.11 0 256.05c0 138.49 113.6 248 247.56 248 129.93 0 248.44-100.87 248.44-248 0-137.87-106.62-248-248.44-248zm.87 450.81c-112.54 0-203.7-93.04-203.7-202.81 0-105.42 85.43-203.27 203.72-203.27 112.53 0 202.82 89.46 202.82 203.26-.01 121.69-99.68 202.82-202.84 202.82z'/%3e%3c/svg%3e") }
i.fa-inbox { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath d='M567.938 243.908L462.25 85.374A48.003 48.003 0 0 0 422.311 64H153.689a48 48 0 0 0-39.938 21.374L8.062 243.908A47.994 47.994 0 0 0 0 270.533V400c0 26.51 21.49 48 48 48h480c26.51 0 48-21.49 48-48V270.533a47.994 47.994 0 0 0-8.062-26.625zM162.252 128h251.497l85.333 128H376l-32 64H232l-32-64H76.918l85.334-128z'/%3e%3c/svg%3e") }
i.fa-html5 { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z'/%3e%3c/svg%3e") }
i.fa-css3 { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z'/%3e%3c/svg%3e") }
i.fa-rocket { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M505.1 19.1C503.8 13 499 8.2 492.9 6.9 460.7 0 435.5 0 410.4 0 307.2 0 245.3 55.2 199.1 128H94.9c-18.2 0-34.8 10.3-42.9 26.5L2.6 253.3c-8 16 3.6 34.7 21.5 34.7h95.1c-5.9 12.8-11.9 25.5-18 37.7-3.1 6.2-1.9 13.6 3 18.5l63.6 63.6c4.9 4.9 12.3 6.1 18.5 3 12.2-6.1 24.9-12 37.7-17.9V488c0 17.8 18.8 29.4 34.7 21.5l98.7-49.4c16.3-8.1 26.5-24.8 26.5-42.9V312.8c72.6-46.3 128-108.4 128-211.1.1-25.2.1-50.4-6.8-82.6zM400 160c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z'/%3e%3c/svg%3e") }
i.fa-newspaper { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath d='M552 64H112c-20.858 0-38.643 13.377-45.248 32H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h496c13.255 0 24-10.745 24-24V88c0-13.255-10.745-24-24-24zM48 392V144h16v248c0 4.411-3.589 8-8 8s-8-3.589-8-8zm480 8H111.422c.374-2.614.578-5.283.578-8V112h416v288zM172 280h136c6.627 0 12-5.373 12-12v-96c0-6.627-5.373-12-12-12H172c-6.627 0-12 5.373-12 12v96c0 6.627 5.373 12 12 12zm28-80h80v40h-80v-40zm-40 140v-24c0-6.627 5.373-12 12-12h136c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H172c-6.627 0-12-5.373-12-12zm192 0v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0-144v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12zm0 72v-24c0-6.627 5.373-12 12-12h104c6.627 0 12 5.373 12 12v24c0 6.627-5.373 12-12 12H364c-6.627 0-12-5.373-12-12z'/%3e%3c/svg%3e") }
i.fa-lightbulb { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3e%3cpath d='M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z'/%3e%3c/svg%3e") }
i.fa-external-link { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3e%3cpath d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z'/%3e%3c/svg%3e") }
i.fa-osi { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 495.8 512'%3e%3cpath d='M0 259.2C2.3 123.4 97.4 26.8 213.8 11.1c138.8-18.6 255.6 75.8 278 201.1 21.3 118.8-44 230-151.6 274-9.3 3.8-14.4 1.7-18-7.7-17.8-46.3-35.6-92.7-53.4-139-3.1-8.1-1-13.2 7-16.8 24.2-11 39.3-29.4 43.3-55.8 6.4-42.4-24.5-78.7-64.5-82.2-39-3.4-71.8 23.7-77.5 59.7-5.2 33 11.1 63.7 41.9 77.7 9.6 4.4 11.5 8.6 7.8 18.4-17.9 46.6-35.8 93.2-53.7 139.9-2.6 6.9-8.3 9.3-15.5 6.5-52.6-20.3-101.4-61-130.8-119C1.9 318.7 1.6 280.2 0 259.2zm20.9-1.9c.4 6.6.6 14.3 1.3 22.1 6.3 71.9 49.6 143.5 131 183.1 3.2 1.5 4.4.8 5.6-2.3 14.9-39.1 29.9-78.2 45-117.3 1.3-3.3.6-4.8-2.4-6.7-31.6-19.9-47.3-48.5-45.6-86 1-21.6 9.3-40.5 23.8-56.3 30-32.7 77-39.8 115.5-17.6 31.9 18.4 49.5 53.8 45.2 90.4-3.6 30.6-19.3 53.9-45.7 69.8-2.7 1.6-3.5 2.9-2.3 6 15.2 39.2 30.2 78.4 45.2 117.7 1.2 3.1 2.4 3.8 5.6 2.3 35.5-16.6 65.2-40.3 88.1-72 34.8-48.2 49.1-101.9 42.3-161C459.8 112 354.1 14.7 218 31.5 111.9 44.5 22.7 134 20.9 257.3z'/%3e%3c/svg%3e") }
i.fa-graduation-cap { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3e%3cpath d='M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z'/%3e%3c/svg%3e") }

figure svg.graph {
min-width:640px;
min-height:640px;
}

#graph-view {
width:50%;
height:90%;
max-width:initial;
max-height:inherit;
}

#graph-view svg.graph {
/*width:480px;
height:480px;*/
max-height:90%;
margin:0 auto;
display:block;
}

article [about^="#"][typeof="schema:ViewAction"]:before,
article [href^="#"][typeof="schema:ViewAction"]:before,
article [resource^="#"][typeof="schema:ViewAction"]:before {
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
width:1.5em;
text-align: center;
color:#000;
font-weight:bold;
}

article [typeof="schema:ViewAction"]:before {
margin-right:0.25em;
content:"#";
}

progress { margin:0 1em; }
figure .progress { display:block; margin:0 auto; }
.progress { vertical-align: middle; margin: 0 0.5em; }
.progress a { border-bottom:0; }
#document-do .progress {
display:block;
clear:both;
padding:1em 0;
text-align:center;
}
#document-do .snapshot-internet-archive + .progress {
text-align:left;
}

main,
main > article { position:relative; }

html > .do {
font-family:sans-serif;
}

.do th,
.do legend {
font-weight:bold !important;
}
.do label {
font-weight:normal !important;
padding:0;
}

menu.do,
aside.do {
position:fixed;
z-index:2147483646;
max-height:90%;
background-color:#fff;
margin:0;
}
menu.do {
top:0;
right:0;
}
aside.do {
top:0;
}
.do.on {
line-height:1.6;
font-size:1em;
padding:1em;
overflow:auto;
z-index:2147483647;
}
.do.on p {
text-indent:0;
text-align:left;
font-size:inherit !important;
margin:0 0 1em 0 !important;
padding:0 !important;
max-width:inherit !important;
}

aside.do.on {
border:1px solid #ccc;
border-top:0;
border-bottom-left-radius:0.5em;
border-bottom-right-radius:0.5em;
box-shadow:0.25em 0.25em 0.25em rgba(0,0,0,0.1);
max-width:35em;
width:90%;
}
menu.do.on {
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
border-bottom-left-radius:0.5em;
box-shadow:0.25em 0.25em 0.25em rgba(0,0,0,0.1);
}
aside.do.on:not([id="document-items"]) {
left:50%;
transform:translate(-50%, 0);
}
aside.do.on a {
word-wrap:break-word;
}
aside.do.on:not([id="document-items"]) label {
min-width:5%;
display:inline-block;
}
aside.do.on:not([id="document-items"]) label[for$="-input"] {
vertical-align: middle;
}

aside.do input {
padding:0.2em;
}
aside.do input[type="checkbox"] {
padding:0;
margin-left:0;
vertical-align: middle;
}
aside.do input[type="text"] {
width:60%;
max-width:22em;
}
aside.do input + label {
margin-left:0.25em;
vertical-align: middle;
display:inline-block;
}

aside.do textarea {
width:96% !important;
max-width:44em !important;
font-size:1em !important;
}

aside.do.on ul {
margin:0;
padding:0;
list-style: none;
}
aside.do.on li {
text-align:left !important;
display:list-item !important;
}
aside.do.on.tabs nav ul li {
display:inline-block !important;
}

aside.do.on section {
margin-top:1em;
margin-bottom:2em;
}
aside.do.on section:last-child {
margin-bottom:1em;
}
aside.do.on > h2 {
margin-top:0.5em;
}

#share-resource.do.on li {
margin:0 0 0.5em 0;
line-height: 1;
}
#share-resource.do.on #share-resource-address-book {
margin-bottom:1em;
}
#share-resource.do.on #share-resource-address-book > label {
font-weight:bold;
}
#share-resource.do.on #share-resource-contacts {
max-height:30em;
overflow:auto;
}
#share-resource.do.on #share-resource-contacts label {
vertical-align:middle;
}

#source-view textarea {
font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

aside.note {
position:static;
border:0;
margin:0;
padding:0;
}
aside.note:after {
width:auto;
position:static;
}

#document-interactions {
margin-top:4em;
}
#document-interactions h2 {
margin-top:0;
margin-bottom:0.5em;
}
#document-interactions .count {
margin-bottom:0;
font-weight:normal;
font-size:1em;
}
#document-interactions .count:after {
content:':';
}
#document-interactions article {
margin:0 0 2em 0;
}
#document-interactions article article {
padding-left:2.25em;
padding-top:1em;
margin-bottom:0;
border-left:2px solid #ccc;
}
#document-interactions article h1,
#document-interactions article h3 {
margin-bottom:0;
font-size:1em;
}
#document-interactions article img {
vertical-align:middle;
margin-right:0.5em;
}
#document-interactions article p:last-child {
margin-bottom:0;
}

aside.note {
background-color:inherit;
}

aside.note {
position:static !important;
}

aside.note article {
position:static;
width:auto;
font-size: 0.8em;
text-align: left;
}

aside.note aside.note {
position:static;
margin-top:1em;
}
aside.note aside.note article {
position:static !important;
font-size: initial;
width:100%;
}

#document-interactions article.do {
position:relative;
}

#document-interactions article.do h2,
#document-interactions article.do h3,
#document-interactions article.do h4,
#document-interactions article.do dt,
#document-interactions article.do .inbox,
#document-interactions article.do .target,
#document-interactions article.do .renderedvia,
#document-interactions article.do .language,
#document-interactions article.do .rights,
#document-interactions article.do .canonical,
aside.note h2,
aside.note h3,
aside.note h4,
aside.note dt,
aside.note .inbox,
aside.note .target,
aside.note .language,
aside.note .renderedvia,
aside.note .rights,
aside.note .canonical {
display:none;
}
aside.note dl.author-name img[width="48"][height="48"][rel$="image"] {
/*vertical-align:top;*/
}
#document-interactions section,
#document-interactions article.do dl,
#document-interactions article.do dl *,
.do div,
aside.note dl,
aside.note dl * {
padding:0;
margin:0;
width:auto;
}

/*aside.note dl.published,
aside.note dl.license,
aside.note dl.rights {
position:relative;
top:-1.5em;
left:3.75em;
}*/
aside.note dl.published a,
aside.note dl.license a,
aside.note dl.language a,
aside.note dl.rights a {
color:#333;
/*text-decoration:none;*/
}
aside.note dl.published a:hover,
aside.note dl.license a:hover,
aside.note dl.language a:hover,
aside.note dl.rights a:hover {
color:#000;
text-decoration:underline;
}
/*aside.note article > div,
aside.note article > section {
position:relative;
top:-1.5em;
}*/
aside.note section {
border:0 !important;
}

#document-editor {
position:static;
}


#document-menu,
#document-items {
margin:0;
width:20em;
}

.do .hide {
visibility: initial !important;
}

#document-items {
top:0;
left:0;
border:0;
border-radius:0;
border-bottom: 1px solid #ccc;
border-bottom-right-radius: 0.5em;
border-right: 1px solid #ccc;
box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.1);
}
#document-items ul,
#document-items ol {
margin-top:0.5em;
}
#document-items .toc ol {
margin-top:0.25em;
}
#document-items .toc > li {
margin-bottom:1em;
}

.success { background-color:#FFFFFF; color:#647819; font-weight:bold; }
.warning { background-color:#FFFF00; color:#000000; font-weight:bold; }
.error { background-color:#FF0000; color:#FFFFFF; font-weight:bold; }
a.highlight,
.highlight { background-color:#00FFFF; color:#000000; }
.highlight .highlight { background-color:#0099FF; color:#000000; }
.highlight .highlight .highlight { background-color:#0000FF; color:#FFFFFF; }

#document-menu {
color:#000;
}
#document-menu footer {
color:inherit;
}

/*de-timblulating*/
#document-menu table {
background-color:#fff;
width:100%;
border-collapse:collapse;
}

#document-menu > button {
position:absolute;
top:0.615em;
right:0.615em;
font-size:1.75em;
display:inherit !important;
padding:0;
width:1.5em;
height:1.5em;
vertical-align:middle;
}

#document-menu:not([class~=on]) > header,
#document-menu:not([class~=on]) > div,
#document-menu:not([class~=on]) > footer {
display:none;
}
#document-menu.on > header,
#document-menu.on > div,
#document-menu.on > footer {
display:block;
}
#document-menu > header,
#document-menu > footer {
margin:0 !important;
padding:0 !important;
font-weight:normal !important;
font-size:inherit !important;
line-height:inherit !important;
}
#document-menu > footer {
margin:1em 0 1em 0 !important;
}


#document-menu > header,
#document-menu > div,
#document-menu > footer,
#document-menu #document-views {
position:static !important;
clear:both;
float:left;
width:100%;
background-color:#fff;
background-image:none;
}
#document-menu #document-views {
float:left !important;
}
#document-menu > div {
padding:0 !important;
margin:0 !important;
}
#document-metadata th {
vertical-align:top;
}
#document-metadata ul {
margin-top:0;
}

#document-menu header button,
#document-menu div button,
#document-menu footer button,
button[class~="signin-user"],
button[class|="resource"],
button[class~="editor-enable"],
button[class|="review"],
button[class~="embed-data-meta"],
aside button.delete,
button[class~="robustlinks-reuse"] {
display:inline-block;
border:0;
background-color:#fff !important;
color:#000 !important;
padding:0;
margin:0;
font-size:1em;
font-weight:normal;
text-transform: inherit !important;
}

.do.on section {
width:100%;
max-width:none;
margin:0;
padding:0;
}

#document-menu ul,
#document-menu h2,
#document-items h2 {
margin:0;
padding:0;
list-style-image:none;
}
#document-menu section {
border:0 !important;
float:none !important;
}
#document-menu section h2 {
display:none;
}
#document-menu section button {
width:33.33%;
height:5em;
float:left;
color:#000 !important;
background-color:#fff !important;
}
#document-menu section button:hover {
background-color:#eee !important;
cursor:pointer !important;
}
#document-menu section button[disabled] {
color:#777 !important;
background-color:#fff !important;
}
#document-menu section button[disabled]:hover {
/*background-color:inherit !important;*/
cursor:default !important;
}
#document-menu section button.signout-user {
width:auto;
height:auto;
margin-left:1em;
margin-top:1.25em;
}

#document-menu section button .fa,
#document-menu section button svg.fas,
#document-menu section button svg.far {
display:block;
margin:0 auto 0.5em auto;
}

#user-info {
margin:0;
display:inline-block;
/*margin-left:0.75em;*/
/*max-width:75%;*/
position:relative;
}
#document-menu .signin-user {
/*width:33%;
height:5em;*/
}
#user-info > span {
float:left;
margin-left: 1.75em;
max-width:75%;
min-height: 5.5em;
/*width:calc(100% - 1.75em);*/
}
#user-info img {
display:block;
float:none !important;
}
#user-info a {
margin-top: 1em;
margin-bottom: 1em;
display: inline-block;
}
#user-info img + a {
margin:0;
}

#document-menu p {
font-size:inherit !important;
line-height:inherit !important;
max-width:inherit !important;
padding:inherit !important;
text-indent:0;
}
#document-menu.do caption:before {
content:'' !important;
}

#memento-document ul {
list-style: disc none inside;
}


#document-do ul,
#document-views ul,
#document-metadata ul,
#embed-data-in-html ul,
#share-resource ul,
#list-of-stuff ul {
list-style-type:none;
margin-left:0;
}
#document-views ul {
max-width:75%;
float:left;
}
#document-views ul li {
display:inline-block;
}

#document-metadata * {
text-align:left;
margin:0;
}
#document-metadata table,
#document-metadata table * {
border:0;
padding-left:0;
color:#000 !important;
background-color:#fff !important;
}
#document-metadata caption {
font-size:1.231em;
font-weight:bold;
width:100%;
display:none;
}

#list-of-stuff {
z-index:2147483646;
}

#list-of-stuff li/*,
#document-views li,
#embed-data-in-html li,
#document-do li
display:inline;
margin-right:1em;*/{
width:44%;
display:inline-block !important;
}

#document-menu #document-views {
margin:2em 0 1em 0;
}

#document-menu li {
margin:0;
padding:0;
list-style-type:none;
}
#document-menu dt {
font-weight:bold;
display:inline;
}
#document-menu dt:after {
content:": ";
}
#document-menu dd {
display:inline;
margin-left:0;
}
#document-menu dd:after {
content:"";
margin-right:1em;
}
#document-menu dd:last-child:after {
content:"";
}
#document-menu footer img,
#document-menu footer i.fa {
vertical-align:middle;
}


#document-menu .timemap dd {
display:inline-block;
}

#document-menu #document-views button {
width:auto;
height:auto;
padding:0.5em;
border:1px solid #eee;
vertical-align:middle;
float:none;
}

#document-menu #document-views > svg.fas {
float:left;
margin:0.5em 1em 0 2.75em;
}

#document-menu .editor-disable,
#document-menu .review-disable,
#document-menu .local-storage-disable-html {
background-color:#eee !important;
}
#document-menu #autosave-items {
margin-left:1em;
}
#document-menu #autosave-items li {
margin-top:1em;
display:inline-block;
}


.tabs nav {
position:relative;
z-index:2147483647;
}
.tabs nav ul {
list-style-type:none;
margin:0 !important;
}
.tabs nav ul li {
font-weight:bold;
display:inline-block;
border:2px solid #ffffff;
border-bottom:#cccccc;
}
.tabs nav ul li.selected {
border:2px solid #cccccc;
border-bottom-color:#ffffff;
}
.tabs nav ul li a {
background-color:#eeeeee;
color:#000000;
text-decoration:none;
display:block;
padding:0.75em 1em;
outline:none;
}
.tabs nav ul li.selected a {
text-decoration:none;
color:#000000;
background-color:#ffffff;
}
.tabs > div,
.tabs > figure {
display:none;
clear:both;
margin-top:-2px;
}
.tabs > div.selected,
.tabs > figure.selected {
display:block;
}

.tabs figure.selected:not([class~=listing]),
.tabs .selected textarea {
padding:0.75em 1em;
display:block;
border:2px solid #cccccc;
width:94% !important;
}

#list-of-stuff label {
font-weight:normal;
}

aside.do.on [id$="-listing"] {
overflow-x:hidden;
overflow-y:auto;
min-width:25%;
max-height:16em;
}
aside.do.on [id$="-listing"] ul {
margin:0;
}
aside.do.on [id$="-listing"] ul input[type="radio"] {
display:none;
}
aside.do.on [id$="-listing"] ul label {
display:block;
padding:0.4em;
cursor:pointer;
}
aside.do.on [id$="-listing"] li {
list-style-type:none;
}
aside.do.on [id$="-listing"] ul li:first-child:before {
/*margin-top:0.5em;*/
}
aside.do.on [id$="-listing"] ul li {
border-left:1px dotted #ccc;
border-right:1px dotted #ccc;
}
aside.do.on [id$="-listing"] ul li:first-child {
border-top:1px dotted #ccc;
margin-top:0.25em;
}
aside.do.on [id$="-listing"] ul li:last-child {
border-bottom:1px dotted #ccc;
}

aside.do.on [id$="-listing"] .container {
background-color:#f2f2f2;
}
aside.do.on [id$="-listing"] .container:hover {
background-color:#ccc;
}
aside.do.on [id$="-listing"] .container label {
display:block;
}
aside.do.on [id$="-listing"] input[checked="true"] + label {
font-weight:bold;
}
aside.do.on [id$="-write"], [id$="-read"] {
display:block;
word-wrap:break-word;
}
aside.do.on #base-url-selection label {
display:block;
}

aside.do.on fieldset {
border:0;
margin:0;
padding:0;
}
aside.do.on fieldset legend {
font-weight:bold;
padding:0;
}
aside.do.on fieldset + fieldset {
margin-top:1em;
}

aside.do.on fieldset samp {
background:none;
font-weight:bold;
}
aside.do.on fieldset samp:before, aside.do.on fieldset samp:after {
content:"";
}
aside.do.on fieldset p {
margin:0.5em 0;
}


aside.do.on fieldset *:not(legend) {
/*display:none;*/
}

aside.do.on .response-message {
margin-top:1em;
}


.do.sortable .sortable-placeholder {
outline:1px dashed #777;
}

.do.sortable .sortable li {
cursor:grab;
cursor:-moz-grab;
cursor:-webkit-grab;
position:relative;
}

.do.sortable .sortable li:active {
cursor:move;
}

.do.sortable .sortable li:before,
.do.sortable .sortable li a:before {
border-left:2px dotted #ccc;
}
.do.sortable .sortable li a:before {
position:absolute;
top:0;
left:-1.4em;
content:"\00a0";
cursor:grab;
cursor:-moz-grab;
cursor:-webkit-grab;
}


.do button {
line-height:1;
padding:0.25em;
z-index:2147483647;
hyphens:initial;
}

button.close {
position:absolute;
top:0.5em;
right:0.5em;
z-index:2147483647;
padding:0;
}
button.delete {
position:absolute;
top:0;
right:0;
z-index:2147483647;
}

dd.do button {
margin-left:0.25em;
}

.do.position-relative {
position:relative;
z-index:1;
}

.slide {
/* display:none; */
}
body[typeof="bibo:Slideshow"] .slide,
.do.slide {
display:block;
}
.on-slideshow > header,
.on-slideshow > footer,
.on-slideshow #comments,
.on-slideshow article h1,
.on-slideshow article #authors,
.on-slideshow article > dl,
.on-slideshow article > div > dl,
.on-slideshow article section:not([class~="do"]),
.on-slideshow aside:not([class~="do"]) {
/* display:none; */
}

.rfc2119 {
text-transform:lowercase;
font-variant:small-caps;
font-style:normal;
}
em.rfc2119 { color: #f00; }

.todo, .outline, .fixme, .notes {
border:1px dashed #333;
}
.todo {
background-color:#d0ddff;
}
.fixme {
background-color:#ffd0d0;
}
.outline {
background-color:#eee;
}
.notes {
background-color:#ffffd0;
}
.todo:before, .outline:before, .fixme:before, .notes:before {
font-weight: bold;
margin-right: 1em;
padding: 0 1em;
box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.1);
border: 1px solid #000;
}
.todo:before {
content: "TODO";
background-color:#0000ff;
color:#fff;
}
.outline:before {
content:"OUTLINE";
background-color:#fff;
color:#000;
}
.fixme:before {
content:"FIXME";
background-color: #ff0000;
color:#fff;
}
.notes:before {
content:"NOTES";
background-color: #ffff00;
color:#000;
}


.rtl {
unicode-bidi:bidi-override;
direction:rtl;
}

.align-left { float:left; margin-right:2em; margin-bottom:2em; }
.align-right { float:right; margin-left:2em; margin-bottom:2em; }

.do.fragment {
position:absolute;
top:0;
right:0;
text-indent:0;
padding-right:10px;
font-size:1em;
}

.do.fragment a {
padding-left:0.5em;
padding-right:0.5em;
height:100%;
display:block;
font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
font-style:normal;
font-weight:normal;
outline:none;
text-align:right;
text-decoration:none;
border-bottom:0;
background-color:transparent;
}
.listing pre code,
.listing pre samp {
margin-left:-2.25em;
padding-left:2.25em;
}
.listing pre code .do.fragment a,
.listing pre samp .do.fragment a {
padding-right:0;
line-height:1;
vertical-align: middle;
}

.do.fragment a:first-child {
border-right:2px solid rgba(128,128,128,0.2);
}
.do.fragment a:nth-child(n+2) {
border-right:2px solid rgba(64,64,64,0.9);
}

.do.robustlinks {
position:relative;
display:inline;
padding:0;
margin:0 0 0 0.25em;
font-style:normal;
}
.do.robustlinks button {
display:inline-block;
padding:0;
background:none;
border:0;
font-style:normal;
position:relative;
color:#000 !important;
}
.do.robustlinks button span {
display: inline-block;
width:0;
height:0;
border-style: solid;
border-width: 0.5em 0.25em 0 0.25em;
border-color: #555 transparent transparent transparent !important;
vertical-align:bottom;
position:absolute;
bottom:-0.2em;
right:0;
}
.do.robustlinks > span {
display:none;
width:19em;
margin:0;
padding:1em;
border:1px solid #ccc;
box-shadow:0.25em 0.25em 0.25em rgba(0,0,0,0.1);
border-radius: 0.5em;
background-color:#fff;
}
.do.robustlinks > span * {
margin:0;
}
.do.robustlinks > span span:nth-child(odd) {
font-weight:bold;
display:block;
}
.do.robustlinks > span span + span {
margin-top:0.5em;
}
.do.robustlinks.on > span {
display: inline-block;
position: absolute;
top: 1.2em;
right: -20em;
z-index:2147483647;
}

aside.do.on button.robustify {
margin:1em 0;
}


img[width="32"][height="32"],
img[width="48"][height="48"] {
border-radius:0.5em;
vertical-align:middle;
}
img[width="32"][height="32"] {
max-height:32px;
max-width:32px;
margin-right:0.25em;
}
img[width="48"][height="48"] {
max-height:48px;
max-width:48px;
margin-right:0.5em;
}

span.ref[typeof~="dctypes:Text"] {
position:relative;
}
span.ref[typeof~="dctypes:Text"] mark + sup[class^="ref-"] {
color:#000;
text-shadow: 1px 1px 1px #000;
}
span.ref[typeof~="dctypes:Text"] mark + sup[class^="ref-"] {
position:absolute;
top:initial;
bottom:1em;
right:-0.75em;
}
span.ref[typeof~="dctypes:Text"] mark + sup[class^="ref-"],
span.ref[typeof~="dctypes:Text"] mark + sup[class^="ref-"] * {
font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
font-size:1em;
font-weight:normal;
font-style:normal;
line-height:1;
padding:0;
color:#000;
}

.ref-highlighting a,
.ref-comment a,
.ref-reference a,
.ref-annotation a {
text-decoration:none;
border-bottom:0;
}

.cool-media {
background: -moz-linear-gradient(left, rgba(198,255,255,0.5) 0%, rgba(0,178,255,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(198,255,255,0.5)), color-stop(100%,rgba(0,178,255,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(198,255,255,0.5) 0%,rgba(0,178,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(198,255,255,0.5) 0%,rgba(0,178,255,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(198,255,255,0.5) 0%,rgba(0,178,255,0.5) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(198,255,255,0.5) 0%,rgba(0,178,255,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c6ffff', endColorstr='#8000b2ff',GradientType=1 ); /* IE6-9 */
}
.hot-media {
background: -moz-linear-gradient(left, rgba(255,255,0,0.5) 0%, rgba(255,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,0,0.5)), color-stop(100%,rgba(255,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,0,0.5) 0%,rgba(255,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,0,0.5) 0%,rgba(255,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,0,0.5) 0%,rgba(255,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,0,0.5) 0%,rgba(255,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffff00', endColorstr='#80ff0000',GradientType=1 ); /* IE6-9 */
}

.unicode-red-pill:before,
hr.unicode-blue-pill.unicode-red-pill:after {
background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgNTEyLjAwNSA1MTIuMDA1IiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsPSIjZjAwIj48cGF0aCBkPSJNMzQuNjg3LDMwOS44MzhMMzA5LjgzOCwzNC42ODdjNDYuMjQ4LTQ2LjI0OSwxMjEuMjI5LTQ2LjI0OSwxNjcuNDksMGM0Ni4yMzYsNDYuMjQ5LDQ2LjIzNiwxMjEuMjM1LDAsMTY3LjQ4MyAgTDIwMi4xNyw0NzcuMzI4Yy00Ni4yNDgsNDYuMjM2LTEyMS4yMzQsNDYuMjM2LTE2Ny40ODMsMEMtMTEuNTYyLDQzMS4wNjYtMTEuNTYyLDM1Ni4wODYsMzQuNjg3LDMwOS44Mzh6IE0yMTQuMzIsMTk2LjQ0MyAgbDEwMC4zOTgsMTAwLjM5M2wxMTUuMzczLTExNS4zNjFjMjcuNzA5LTI3LjcyNywzMi4wNzgtNzcuMDQzLDQuMzU5LTEwNC43NjRjLTI3LjczMi0yNy43MjUtNzIuNjgtMjcuNzI1LTEwMC40LDBMMjE0LjMyLDE5Ni40NDN6Ii8%2BPC9zdmc%2B");
}
.unicode-blue-pill:before {
background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgNTEyLjAwNSA1MTIuMDA1IiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsPSIjMDBmIj48cGF0aCBkPSJNMzQuNjg3LDMwOS44MzhMMzA5LjgzOCwzNC42ODdjNDYuMjQ4LTQ2LjI0OSwxMjEuMjI5LTQ2LjI0OSwxNjcuNDksMGM0Ni4yMzYsNDYuMjQ5LDQ2LjIzNiwxMjEuMjM1LDAsMTY3LjQ4MyAgTDIwMi4xNyw0NzcuMzI4Yy00Ni4yNDgsNDYuMjM2LTEyMS4yMzQsNDYuMjM2LTE2Ny40ODMsMEMtMTEuNTYyLDQzMS4wNjYtMTEuNTYyLDM1Ni4wODYsMzQuNjg3LDMwOS44Mzh6IE0yMTQuMzIsMTk2LjQ0MyAgbDEwMC4zOTgsMTAwLjM5M2wxMTUuMzczLTExNS4zNjFjMjcuNzA5LTI3LjcyNywzMi4wNzgtNzcuMDQzLDQuMzU5LTEwNC43NjRjLTI3LjczMi0yNy43MjUtNzIuNjgtMjcuNzI1LTEwMC40LDBMMjE0LjMyLDE5Ni40NDN6Ii8%2BPC9zdmc%2B");
}
.unicode-red-pill:before, .unicode-blue-pill:before, hr.unicode-blue-pill.unicode-red-pill:after {
background-position:0 0;
background-repeat:no-repeat;
background-size:contain;
display:inline-block;
height:1em;
width:1.25em;
content:"";
}

hr.unicode-blue-pill.unicode-red-pill {
border:0;
text-align:center;
font-size:2em;
}

.sparkline {
height:1em;
width:100%;
max-width:100px;
display:inline-block;
vertical-align:middle;
}
.medium-editor-toolbar-form .sparkline {
margin:0.25em 0.5em;
}
.medium-editor-toolbar-form .sparkline svg line {
stroke:#fff;
stroke-width:1px;
}
.medium-editor-toolbar-form .sparkline svg circle.point {
stroke:#f00;
fill:#f00;
}
.medium-editor-toolbar-form *[id^="sparkline-graph"] {
max-height:15em;
max-width:30em;
}
.medium-editor-toolbar-form *[id^="sparkline-select"] {
width:100%;
}
.medium-editor-toolbar-form *[id^="sparkline-"] li {
float:none;
margin-bottom:0.2em;
}
.medium-editor-toolbar-form *[id^="sparkline-"] a {
font-size:0.9em;
line-height:1.2;
word-wrap:break-word;
font-weight:normal;
}


/*TODO MOVE TO editor.css */
.medium-editor-toolbar-form label[for^="rdfa-"] {
font-weight:bold;
width:30%;
text-align:right;
}
.medium-editor-toolbar-form input[id^="rdfa-"] {
height:auto;
width:65%;
}
/*used with default theme*/
.medium-editor-toolbar.medium-toolbar-arrow-under:after {
top:initial;
bottom:-8px;
}

#citation-url {
display:block;
}
.medium-editor-toolbar-form a {
background-color:transparent;
border:none;
}
.medium-editor-toolbar-form textarea {
padding:0.5em;
width:calc(100% - 1em - 2px);
width:-moz-available;
margin:0 auto;
display:block;
font-size:1em;
}
.medium-editor-toolbar-form select {
display:inline-block;
font-size:1em;
}
.medium-editor-toolbar-form select[id$="-language"],
.medium-editor-toolbar-form select[id$="-license"] {
margin-top:0.1em;
vertical-align:top;
}

.medium-editor-toolbar-form label[for^="ref-"],
.medium-editor-toolbar-form label[for^="annotation-location-"],
.medium-editor-toolbar-form label[for^="annotation-inbox"],
.medium-editor-toolbar-form label[for^="bookmark-"] {
width:auto;
font-size:1em;
line-height:1;
}
.medium-editor-toolbar-form .annotation-inbox,
.medium-editor-toolbar-form .annotation-location-selection {
margin: 0.3em 1em 0 1em;
display:inline-block;
vertical-align: top;
}
.medium-editor-toolbar-form .annotation-inbox {
margin-left:0;
}
.medium-editor-toolbar-form input:nth-of-type(2):before {
margin-left: 68px;
}
#ref-reference {
margin-left:1.5em;
}

/*body .medium-editor-element img {
max-width:none;
}*/


/* XXX: MediumEditor below. This is automatically generated (using build.editor.sh) and inserted. Do not modify directly */
@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
          animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: absolute;
    left: 0;
    top: 0;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-editor-placeholder-relative {
  position: relative; }
  .medium-editor-placeholder-relative:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: relative;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-toolbar ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .medium-editor-toolbar li button {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 1.33;
      margin: 0;
      padding: 15px;
      text-decoration: none; }
      .medium-editor-toolbar li button:focus {
        outline: none; }
    .medium-editor-toolbar li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      font-weight: 100;
      padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
          animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }
  .medium-editor-toolbar-form input,
  .medium-editor-toolbar-form a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input,
  .medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
    .medium-editor-toolbar-form label:focus {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      box-shadow: none;
      outline: 0; }
  .medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none; }

.medium-editor-toolbar-form-active {
  display: block; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px; }
  .medium-editor-element img {
    max-width: 100%; }
  .medium-editor-element sub {
    vertical-align: sub; }
  .medium-editor-element sup {
    vertical-align: super; }

.medium-editor-hidden {
  display: none; }
.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }
  .medium-editor-toolbar li button {
    background-color: #242424;
    background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
    background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
    border: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #333;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 50px;
    min-width: 50px;
    -webkit-transition: background-color .2s ease-in;
            transition: background-color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #000;
      color: yellow; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    background: -webkit-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
    background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
    color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #242424;
    box-sizing: border-box;
    color: #ccc;
    height: 50px; }
  .medium-editor-toolbar-form a {
    color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }
.medium-editor-table-builder {
  display: none;
  position: absolute;
  left: 0;
  top: 101%; }
  .medium-editor-table-builder * {
    box-sizing: border-box; }

.medium-editor-table-builder-grid {
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden; }

.medium-editor-table-builder-cell {
  background-color: #333;
  border: 1px solid #000;
  display: block;
  float: left;
  height: 16px;
  margin: 0;
  width: 16px; }
  .medium-editor-table-builder-cell.active {
    background-color: #ccc; }

.medium-editor-table-builder-cell:hover {
  background-color: #ccc; }

.medium-editor-table {
  border-collapse: collapse;
  resize: both;
  table-layout: fixed; }

.medium-editor-table,
.medium-editor-table td {
  border: 1px dashed #e3e3e3; }

.medium-editor-table-builder-toolbar {
  display: block;
  min-width: 162px;
  background-color: #333;
  font-size: 0.8em;
  color: white; }
  .medium-editor-table-builder-toolbar span {
    width: 45px;
    display: block;
    float: left;
    margin-left: 5px; }
  .medium-editor-table-builder-toolbar button {
    margin: 0 3px;
    background-color: #333;
    border: 0;
    width: 30px;
    cursor: pointer; }
    .medium-editor-table-builder-toolbar button i {
      color: white; }
/* XXX: MediumEditor above. This is automatically generated (using build.editor.sh) and inserted. Do not modify directly */
